{
  "minify": true,
  "jsc": {
    "loose": true,
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    }
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "noInterop": true
  }
}
